@import 'colors.scss';
@import 'variables.scss';
@import 'mixins.scss';

html {
    @include box-sizing(border-box);
}


body {
    font-family: $family_font;
    margin: 0px !important;
    color: $black;
    font-size: 16px;
    font-weight: 400;
    height: 100vh;
    background-color: $bg;
}

h1 {
    font-size: 28px;
    font-weight: 600;
    line-height: 42px;
    color: $black;
}

h2 {
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
}

b {
    font-weight: 700;
}

.text {
    font-size: 14;
    font-weight: 400;
    line-height: 24px;

    &__bold {
        font-weight: 700;
    }
}

caption {
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
}

button {
    font-weight: 400;
    font-size: 14px;
}


.container {
    display: flex;
    align-items: center;
    flex-direction: column;



    .title {
        width: 292px;

        @include phone(){
            margin-top: 4rem;
            align-self: flex-start;
            width: 565px;
            h1 {
                font-size: 3.5rem;
            }
        }
        
        p {
            color: $gray;
            
        }
    }

    .plans {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 4rem;
        align-self: center;

        @include tablet(){
            flex-direction: row;
            border-radius: 26px !important;
            // background-color: $white;
            background: linear-gradient(to top, $white, transparent);
        }

        .recommend {
            order: 1 !important;
            z-index: 1;
            background-color: $primary !important;
            background: url(../images/bg.svg) no-repeat right center;
            box-shadow: 0px 25px 38px 0px $gray;
            margin-bottom: 1.5rem;
            margin-top: 0rem !important;
            border-radius: 26px !important;

            @include tablet(){
                order: 2 !important;
            }

            .popular {
                display: flex;
                align-items: center;
                display: inherit;
                align-self: flex-end;
                background-color: $secondary;
                padding: 0.3rem 1rem;
                border-radius: 13.5px;
                font-size: 0.8rem;
                font-weight: 600;
            }

            .gray,span{
                color: $black !important;
            }

            button {
                color: $white !important;
                background: $black !important;
                font-weight: 700 !important;
                min-height: 48px !important;
                border-radius: 90px !important;
                border: 0 !important;
                font-size: 1.1rem !important;
            }

            img {
                filter: invert(100%) sepia(4%) saturate(5686%) hue-rotate(249deg) brightness(146%) contrast(100%);
            }
        }

        .plan {
            display: flex;
            flex-direction: column;
            padding: 1.5rem;
            max-width: 292px;
            min-width: 200px;
            background-color: $white;
            margin-top: 2rem;
            order: 2;
            border-radius: 26px;

         
            @include tablet(){
                border-radius: initial;
                
                &:first-child {
                    border-radius: 26px 0 0 26px;
                }
    
                &:last-child {
                    border-radius: 0 26px 26px 0;
                }
            }


            .price {
                font-size: 1.5rem;
                font-weight: 600;
                span {
                    font-size: 1rem;
                    font-weight: 400;
                    color: $gray;
                }
            }
            button {
                color: $primary;
                background: rgba(255, 142, 60, 0.1);
                font-weight: 700;
                min-height: 48px;
                border-radius: 90px;
                border: 0;
                font-size: 1.1rem;
            }
        }


    }
}

.gray {
    color: $gray;
}

ul {
    list-style-type:none;
    padding-left: 0rem;

    li {
        margin-bottom: 1rem;
    }

    li.inactive {
        opacity: 0.4;
    }

    img {
        margin-right: 0.5rem;
        vertical-align: middle
    }
}

button {
    position: relative;
    overflow: hidden ;
    transition: background 400ms;
    cursor: pointer;
}

span.ripple {
    position: absolute; /* The absolute position we mentioned earlier */
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 600ms linear;
    background-color: rgba(255, 255, 255, 0.7);
  }

  @keyframes ripple {
    to {
      transform: scale(4);
      opacity: 0;
    }
  }